@use 'variables' as *;

:root {
  --bg: #{$light-bg};
  --text: #{$light-text};
  --primary: #{$light-primary};
  --secondary: #{$light-secondary};
  --accent: #{$light-accent};
  --card-bg: #{$light-card-bg};
  --card-border: #{$light-card-border};
  --nav-bg: #{$light-nav-bg};
  --footer-bg: #{$light-footer-bg};
}

[data-theme='dark'] {
  --bg: #{$dark-bg};
  --text: #{$dark-text};
  --primary: #{$dark-primary};
  --secondary: #{$dark-secondary};
  --accent: #{$dark-accent};
  --card-bg: #{$dark-card-bg};
  --card-border: #{$dark-card-border};
  --nav-bg: #{$dark-nav-bg};
  --footer-bg: #{$dark-footer-bg};
}
